a {
    color: rgb(255, 255, 255);
}

.tr>a {
  color: #ffffff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}

.a:hover:after {
    content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 2px; /* Высота линии */
      background-color: rgb(15, 25, 164); /* Цвет подчеркивания при появлении линии*/
      transition: width 0.5s;  /* Время эффекта */
  }
  
  .a {
      color: #00bfff; /* Цвет обычной ссылки */
      text-decoration: none; /* Убираем подчеркивание */
  }
  .a:visited {
      color: #1364a5; /* Цвет посещённой ссылки */
  }
  .a:hover {
      color: #000000; /* Цвет ссылки при наведении на нее курсора мыши */
      text-decoration: underline; /* Добавляем подчеркивание */
  }
