{% extends "app/base.html" %}

{% block title %} Посты {% endblock %}

{% block content %}
    <h1>Что пишет {{ user.username }}</h1>
    {% for post in posts %}
        {% if request.user.is_authenticated and user == request.user %}
            <p> {{ post.title }}</p>
            <h5>{{ post.body }}</h5>
           <button type="submit" class="btn btn-primary">Войти</button> <a href="{% url 'delete_post' post.id %}">Удалить пост</a>
        {% else %}
            <p>{{ post.title }}</p>
            <h5>{{ post.body }}</h5>
        {% endif %}
    {% endfor %}
{% endblock %}